In [11]:
from tensorflow.keras.preprocessing.text import Tokenizer

token=Tokenizer()

text=["my name is XXX from yyyy and working in zzz"]

In [4]:
#token.fit_on_texts(text)
t  = Tokenizer()
fit_text = ["The earth is an awesome place live"]
t.fit_on_texts(fit_text)

In [13]:
token.fit_on_texts(text)

In [17]:
token.word_index

{'my': 1,
 'name': 2,
 'is': 3,
 'xxx': 4,
 'from': 5,
 'yyyy': 6,
 'and': 7,
 'working': 8,
 'in': 9,
 'zzz': 10}

In [23]:
token.texts_to_sequences(text)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]]

In [22]:
seq=token.texts_to_sequences(text)

In [21]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [24]:
pad_sequences(seq)

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10]])

In [25]:

token.index_word

{1: 'my',
 2: 'name',
 3: 'is',
 4: 'xxx',
 5: 'from',
 6: 'yyyy',
 7: 'and',
 8: 'working',
 9: 'in',
 10: 'zzz'}

In [38]:
val=token.index_word
for key,value in val.items():
    print(key,value)

1 my
2 name
3 is
4 xxx
5 from
6 yyyy
7 and
8 working
9 in
10 zzz

In [1]:
import pandas as pd

In [9]:
data=pd.read_csv('./WhatsApp_Chat_with_Diamond.txt',sep="\t",header=None)
                
data.head()

                                                   0
0  5/23/23, 9:58â€¯PM - Messages and calls are end-...
1                   5/24/23, 9:15â€¯PM - Diamond ðŸ””: Kp
2    5/24/23, 9:16â€¯PM - Diamond ðŸ””: Sariyeana samavam
3              5/24/23, 9:16â€¯PM - Diamond ðŸ””: Call me
4                5/24/23, 9:26â€¯PM - --: Cha pavam ra

In [25]:
newdf=data.iloc[1:10]

In [26]:
newdf.reset_index()

   index                                                  0
0      1                   5/24/23, 9:15â€¯PM - Diamond ðŸ””: Kp
1      2    5/24/23, 9:16â€¯PM - Diamond ðŸ””: Sariyeana samavam
2      3              5/24/23, 9:16â€¯PM - Diamond ðŸ””: Call me
3      4                5/24/23, 9:26â€¯PM - --: Cha pavam ra
4      5                           5/24/23, 9:26â€¯PM - --: ?
5      6  5/24/23, 9:27â€¯PM - Diamond ðŸ””: Nanku tension ka...
6      7              5/24/23, 9:27â€¯PM - --: Vaar amma ayya
7      8               5/24/23, 9:27â€¯PM - --: Entie pani ra
8      9  5/24/23, 9:27â€¯PM - Diamond ðŸ””: Ommalaka nanku t...

In [24]:
newdf

                                                   0
0  5/23/23, 9:58â€¯PM - Messages and calls are end-...
1                   5/24/23, 9:15â€¯PM - Diamond ðŸ””: Kp
2    5/24/23, 9:16â€¯PM - Diamond ðŸ””: Sariyeana samavam
3              5/24/23, 9:16â€¯PM - Diamond ðŸ””: Call me
4                5/24/23, 9:26â€¯PM - --: Cha pavam ra
5                           5/24/23, 9:26â€¯PM - --: ?
6  5/24/23, 9:27â€¯PM - Diamond ðŸ””: Nanku tension ka...
7              5/24/23, 9:27â€¯PM - --: Vaar amma ayya
8               5/24/23, 9:27â€¯PM - --: Entie pani ra
9  5/24/23, 9:27â€¯PM - Diamond ðŸ””: Ommalaka nanku t...